<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sideproject.coffeechat.domain.baton.repository.BatonMapper">

    <select id="getRequestedBatons" resultType="sideproject.coffeechat.domain.baton.dto.mapperdto.RequestedBatonDTO">
        SELECT
            b.baton_type AS batonType,
            b.charge AS chatBatonDuration,
            mem.profile_image_url AS profileImageUrl,
            mem.nickname AS nickname,
            m.company_name AS companyName,
            mem.job_name AS jobName,
            mem.job_name AS subJobName,
            mem.career_years AS careerYears

        FROM baton b
        LEFT JOIN mentor m ON b.mentor_id = m.id
        LEFT JOIN members mem ON m.id = mem.id

        WHERE b.mentee_id = (
            SELECT id FROM members WHERE username = #{menteeUsername}
        )
        AND b.status = 'REQUESTED'
        <if test="batonType != null">
            AND b.baton_type = #{batonType}
        </if>

        ORDER BY b.id ASC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="getPendingBatons" resultType="sideproject.coffeechat.domain.baton.dto.mapperdto.PendingBatonDTO">
        SELECT
            b.baton_type AS batonType,
            b.charge AS chatBatonDuration,
            m.member_type AS memberType,
            m.profile_image_url AS profileImageUrl,
            m.nickname AS nickname,
            m.education_name AS educationName,
            m.major_name AS majorName,
            m.job_name AS jobName,
            m.sub_job_name AS subJobName,
            m.career_years AS careerYears,
            m.created_at AS createdAt

        FROM baton b
        LEFT JOIN members m ON b.mentee_id = m.id

        WHERE b.mentor_id = (
            SELECT id FROM members WHERE username = #{mentorUsername}
        )
        AND b.status = 'REQUESTED'
        <if test="batonType != null">
            AND b.baton_type = #{batonType}
        </if>

        ORDER BY b.id ASC
        LIMIT #{size} OFFSET #{offset}
    </select>

</mapper>